* {
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* // <weight>: Use a value from 100 to 900 */

